html{ 
    font-size: 10px; 
} 
 
body{ 
    background-color: #8dc63f; 
    margin: 0; 
    font-family: "Arial"; 
} 

.clear:after {
    content: "";
    display: block;
    clear: both;
}

.wrapper{ 
    box-sizing: border-box; 
    margin: 0 auto; 
    padding: 0 15px; 
    max-width: 960px; 
    background-color: white; 
} 
 
.logo { 
    display: flex; 
} 
 
.header{ 
    display: flex; 
    justify-content: space-between; 
    padding: 25px 0; 
} 
 
.logo p, 
.contact-info p{ 
    margin: 0; 
    font-size: 2.2rem; 
    color: #39930d; 
} 
 
.logo b{ 
    margin: 10px 30px 5px 0; 
    display: block; 
    font-size: 4.4rem; 
} 
 
.logo i, 
.contact-info i{ 
    font-size: 1.4rem; 
    color: #5a5a5a;  
} 
 
.logo img{ 
    transition: all 1s ease; 
} 
 
.logo img:hover{ 
    padding-left: 350px; 
} 
 
.contact-info p{ 
    text-align: center;
    margin: 25px 0 10px 0; 
} 
 
.contact-info a{ 
    display: inline-block; 
    margin-bottom: 10px; 
    color: #39930d; 
    text-decoration: none; 
} 
 
.contact-info i{ 
    font-size: 1.4rem; 
    color: #5a5a5a; 
    font-style: italic; 
    display: block; 
    text-align: right; 
} 
 
.image{ 
    width: 100%; 
    margin-top: 15px; 
} 
 
.scope h1{ 
    font-size: 2.4rem; 
    color: #39930d; 
} 
 
.main{ 
    display: flex; 
    justify-content: space-between; 
    padding-bottom: 45px; 
} 
 
.scope{ 
    display: inline-block;
    max-width: 600px; 
    margin-bottom: 40px;
} 
 
.scope p{ 
    font-size: 1.4rem; 
    line-height: 1.5em; 
    color: #343434; 
} 

.menu{
    display: inline-block;
    width: 300px;
    margin-bottom: 50px;
}
 
.menu p{ 
    min-width: 250px; 
} 
 
.menu p{ 
    padding: 15px 20px 10px; 
    background-color: #39930d; 
    font-size: 1.8rem; 
    color: #fff; 
} 
 
.menu a{ 
    display: block; 
    font-size: 1.4rem; 
    line-height: 2.1em; 
    color: #39930d; 
    text-transform: uppercase; 
    transition: all 1s ease; 
} 
 
.menu a:hover{ 
    padding-left: 20px; 
    text-decoration: none; 
    color:#fff; 
    background-color: rgba(52,52,52,0.5); 
} 
 
.menu ul{ 
    list-style: none; 
    padding: 0 20px; 
} 
 
ul{ 
    padding-left: 20px; 
} 
 
.copyright{ 
    margin: 0 -15px; 
    padding: 15px; 
    background-color: #39930d; 
    font-size: 1.4rem; 
    color: #fff; 
} 
 
@media screen and (max-width: 930px){ 
    .scope{
        max-width: 100%;
        margin: 0;
    }
    .main{ 
        flex-direction: column; 
    } 
    .menu{ 
        width: 100%; 
    } 
} 
@media screen and (max-width: 610px) { 
    .header{ 
        flex-direction: column; 
    } 
    .logo{ 
        display: block;
        text-align: center;
        margin-bottom: 20px; 
    } 
    .logo b{
        margin: 0;
    }
    .contact-info i{ 
        text-align: center; 
    } 
    .image{ 
        min-height: 200px; 
        object-fit: cover; 
        object-position: 75% center; 
    } 
} 
@media screen and (max-width: 390px) { 
    .logo{ 
        flex-direction: column; 
        align-items: center; 
        text-align: center; 
    } 
    .logo p{ 
        margin-bottom: 15px; 
    } 
} 
 
@media screen and (max-width: 285px) { 
    html{ 
        font-size: 6px; 
    } 
}
